:root {
    background-color: rgba(205, 236, 224, 0.966);
    background-image: url(/Assets/images/bk.png);
    background-size: cover;
    background-blend-mode: multiply; 
     /* font-size: 62.5%; */
}
 /* * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; */
    /* padding: 0;  */
    /* color: rgba(12, 70, 136, 0.938);s */
/* } */
/* .sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* .sidenav a { */
/* padding: 1.2rem; */
  /* padding: 6px 2px 6px 16px; */
  /* text-decoration: none; */
  /* font-size:1.2rem; */
  /* text-align: center; */
  /* color: #818181; */
  /* display: block; */
/* } */

/* .sidenav a:hover { */
  /* color: #f1f1f1; */
/* } */

/* @media screen and (max-height: 450px) { */
  /* .sidenav {padding-top: 15px;} */
  /* .sidenav a {font-size: 18px;} */

#logo{
float:left;
font-size: 3rem;
margin-left: 1.9rem;
font-weight: bolder;
/* padding-right: 1.9rem; */
font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background-color: black; */
}
.nav{
/* width: 100%; */

/* padding:0; */
/* margin:0; */
/* background-color: rgb(56, 141, 113); */
}

.nav a{
text-decoration: none;
float:right;
padding:2rem;
font-size: 1.5rem;
color: black;
font-weight: bold;
/* background-color: rgb(56, 141, 113); */
}
html{
	height: 100%;
	overflow: hidden;
	width: 100%;
	margin:0;
	padding: 0;
}
body{
	font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: auto;
	line-height: 1;
	overflow-x: hidden;
	/* padding: 2rem; */
	width: 100%;
}
.video{
	position: relative;
	padding-top: 4.1%;
	padding-bottom: 51.95%;
	height: 0;}
	video{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		min-height: 0;
}
.video-gallery{
	margin-top: 3em;
	position: relative;
	width: 100%;}
	.video{
		animation: 1200ms fadeOut ease;
		animation-fill-mode: both;
		/* //display: none */
		grid-column-start: 1;
		grid-row-start: 1;
		grid-row-end: 7;
		/* //height: 0 */
		max-height: 19.5em;
		opacity: 0;
		transition: all 300ms ease;
		}
		input[type="radio"]{
		font-size: 0;
		height: 0;
		opacity: 0;
		padding: 0;
		position: fixed;
		width: 0;
  }
	input{
		grid-column-start: 1;
		grid-row-start: 1;
		}
	label{
		color: #000000;
		font-size: 1.25em;
		font-weight: 400 ;
		grid-column-start: 2;
		margin: 0 !important;
		padding: 1rem 0 1rem 3rem;
		position: relative;
		border-bottom: 1px solid #CCCCCC;
		}
		&:last-of-type{
			border: 0 none;
    }
	input[type="radio"]:checked+label{
		color: #E41F35 !important;
  }
		&:before{
			content: "▶";
			left: 0;
			top: 12px;
			position: absolute;
  }
  
  

.grid-row{
	display: block;
	height: 56vw;
	max-height: 19.5em;
	position: relative;
	}
	label{
		left: calc(50% + 16px);
		position: relative;
		width: calc(50% - 16px);
		}
	.video{
		padding: 0;
		position: absolute;
		top: 0;
		width: 0;
		}
	&:after{
		content: "";
		clear: both;
		display: table;
  }
#video-1:checked ~ .video-1, #video-2:checked ~ .video-2, #video-3:checked ~ .video-3, #video-4:checked ~ .video-4, #video-5:checked ~ .video-5, #video-6:checked ~ .video-6{
	animation: 1200ms fadeIn ease;
	animation-fill-mode: both;
	/* //display: block; */
	/* //height: 56vw; */
	opacity: 1;
	width: 50%;
}
@keyframes fadeOut{
	0%{
		display: block;
		height: 56vw;
		opacity: 1;
		width: 50%;}
	25%{
		display: block;
		height: 56vw;
		opacity: 1;
		width: 50%;}
	49%{
		display: block;
		height: 56vw;
		opacity: 0;
		width: 50%;}
	50%{
		display: none;
		height: 0;
		opacity: 0;
		width: 0;
		}
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
      width: 0;
      }
    49%{
      display: none;
      height: 0;
      opacity: 0;
      width: 0;
      }
    50%{
      display: block;
      height: 56vw;
      opacity: 0;
      width: 50%;
      }
    100%{
      display: block;
      height: 56vw;
      opacity: 1;
      width: 50%;
      }
      }
      @supports(display: grid){
      .grid-row{
        align-items: start;
        display: grid;
        grid-column-gap: 16px;
        grid-row-gap: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
        label{
          left: auto;
          width: 100%;
          }
        .video{
          position: relative;
          width: 100%;
          }
        #video-1:checked ~ .video-1, #video-2:checked ~ .video-2, #video-3:checked ~ .video-3, #video-4:checked ~ .video-4, #video-5:checked ~ .video-5, #video-6:checked ~ .video-6{
        width: 100%;
        }  
      }
      
      @keyframes fadeOut{
        0%{
          display: block;
          height: 56vw;
          opacity: 1;
          width: 100%;
          }
        25%{
          display: block;
          height: 56vw;
          opacity: 1;
          width: 100%;
          }
        49%{
          display: block;
          height: 56vw;
          opacity: 0;
          width: 100%;
          }
        50%{
          display: none;
          height: 0;
          opacity: 0;
          width: 0;
          }
          }
    
          @keyframes fadeIn{
            0%{
              opacity: 0;
              width: 0;
              }
            49%{
              display: none;
              height: 0;
              opacity: 0;
              width: 0;
              }
            50%{
              display: block;
              height: 56vw;
              opacity: 0;
              width: 100%;
              }
            100%{
              display: block;
              height: 56vw;
              opacity: 1;
              width: 100%;
              }
              }
              
              #video-1:checked ~ .video-1, #video-2:checked ~ .video-2, #video-3:checked ~ .video-3, #video-4:checked ~ .video-4, #video-5:checked ~ .video-5, #video-6:checked ~ .video-6{
                width: 100%;
                }
    
          @media (max-width: 767px){
            .video-gallery{
              display: flex;
              flex-direction: column;
              height: auto;
              max-height: none;
              }
              label{
                left: auto;
                order: 2;
                width: 100%;
                }
              .video{
                order: 1;
                padding-top: 4.1%;
                padding-bottom: 51.95%;
                position: relative;
                top: auto;
                width: 100%;
          }
        }
        
        #video-1:checked ~ .video-1, #video-2:checked ~ .video-2, #video-3:checked ~ .video-3, #video-4:checked ~ .video-4, #video-5:checked ~ .video-5, #video-6:checked ~ .video-6{
          width: 100%;
          }
      
        @keyframes fadeOut{
          0%{
            display: block;
            height: 56vw;
            opacity: 1;
            }
          25%{
            display: block;
            height: 56vw;
            opacity: 1;
            }
          49%{
            display: block;
            height: 56vw;
            opacity: 0;
            }
          50%{
            display: none;
            height: 0;
            opacity: 0;
            }
            }
      
        @keyframes fadeIn{
          0%{
            opacity: 0;
      }
          49%{
            display: none;
            height: 0;
            opacity: 0;
            }
          50%{
            display: block;
            height: 56vw;
            opacity: 0;
            }
          100%{
            display: block;
            height: 56vw;
            opacity: 1;
            }
            }
            
          footer{
          text-align: center;
          /* min-height: 640px; */
          /* background-color: aqua; */
          
          }